{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oh shit! Word?! Shit you care about but probably shouldn't.">
    <meta name="author" content="Oh shit! Word?!">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- styles -->
    {% stylesheet 'blog_css' %}

  </head>
  <body>

    <div class="container">
         {% block app %}{% endblock %}
    </div><!-- /.container -->


    <!-- JavaScript scripts -->
   <script src="https://fb.me/react-15.0.0.js"></script>
    <script src="https://fb.me/react-dom-15.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/babel" src="static/js/app.browserify.js"></script>
    <script type="text/babel" src="static/js/auth.js"></script>

  </body>
</html>